<p id="notice"><%= notice %></p>

<%= link_to 'New Live client', new_live_client_path %>

<h1>Listing Live Clients</h1>

<table>
  <thead>
    <tr>
      <th>Artist</th>
      <th>Image</th>
      <th>Contact</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @live_clients.each do |live_client| %>
      <tr class="live">
        <td><%= live_client.artist %></td>
        <td><img src="<%= live_client.image %>" alt="" /></td>
        <td><%= live_client.contact %></td>
        <td><%= link_to 'Show', live_client %></td>
        <td><%= link_to 'Edit', edit_live_client_path(live_client) %></td>
        <td><%= link_to 'Destroy', live_client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
