<% if notice %>
  <%= content_tag "div", class:'header-info', data: {text: notice, page: 'live'} do %>
  <% end %>
<% else %>
  <%= content_tag "div", class:'header-info', data: {text: 'bands mixed live', page: 'live'} do %>
  <% end %>
<% end %>
<div class="list">
  <div class="live-client">
    <img src="<%= @live_client.image %>" alt="" class="artist-pic"/>
    <div class="info">
      <p class="artist"><%= @live_client.artist %></p>
      <% if @live_client.soundcloud %>
        <%= image_tag 'play.png', class: 'play' %>
        <%= @live_client.soundcloud.html_safe %>
        <%= image_tag 'delete.png', class: 'sc-delete' %>
      <% end %>
    </div>
  </div>
  <div class="live-client">
    <img src="<%= @live_client.image %>" alt="" class="artist-pic"/>
    <p class="edit-label">
      Front
    </p>
  </div>
  <div class="live-client">
    <div class="info back">
      <p class="edit-label">
        Back
      </p>
      <p class="artist"><%= @live_client.artist %></p>
      <% if @live_client.soundcloud %>
        <%= image_tag 'play.png', class: 'play' %>
        <%= @live_client.soundcloud.html_safe %>
        <%= image_tag 'delete.png', class: 'sc-delete' %>
      <% end %>
    </div>
  </div>
  <div class="live-client">
    <p class="edit-label">
      Edit
    </p>
    <%= render 'form' %>
    <%= link_to image_tag('delete.png'), admin_live_client_path(@live_client), method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>
