<% if notice %>
  <%= content_tag "div", class:'header-info', data: {text: notice, page: 'live'} do %>
  <% end %>
<% else %>
  <%= content_tag "div", class:'header-info', data: {text: 'bands mixed live', page: 'live'} do %>
  <% end %>
<% end %>
<div class="list">
  <%= render 'shared/menu' %>
  <% @live_clients.each do |live_client| %>
    <div class="live-client">
      <img src="<%= live_client.image %>" alt="" class="artist-pic"/>
      <%= link_to image_tag('delete.png'), admin_live_client_path(live_client), method: :delete, data: { confirm: 'Are you sure?' } %>
      <div class="info">
        <%= link_to image_tag('delete.png'), admin_live_client_path(live_client), method: :delete, data: { confirm: 'Are you sure?' } %>
        <a href="<%= edit_admin_live_client_path(live_client) %>">
          <p class="artist"><%= live_client.artist %></p>
        </a>
        <% if live_client.soundcloud %>
          <%= live_client.soundcloud.html_safe %>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="live-client">
    <%= link_to image_tag('add.png'), new_admin_live_client_path, class:'add' %>
  </div>
</div>
