<% if notice %>
  <%= content_tag "div", class:'header-info', data: {text: notice, page: 'live'} do %>
  <% end %>
<% else %>
  <%= content_tag "div", class:'header-info', data: {text: 'bands mixed live', page: 'live'} do %>
  <% end %>
<% end %>
<div class="list">
  <%= render 'shared/menu' %>
  <% @live_clients.reverse_each do |live_client| %>
    <div class="live-client">
      <%= image_tag live_client.image_url.to_s, class: 'artist-pic' %>
      <div class="info">
        <a href="<%= edit_admin_live_client_path(live_client) %>">
          <p class="artist"><%= live_client.artist %></p>
        </a>
      </div>
    </div>
  <% end %>
  <div class="live-client">
    <%= link_to image_tag('add.png'), new_admin_live_client_path, class:'add' %>
  </div>
</div>
