<div class="menu">
  <% if current_user %>
    <a href="<%= admin_studio_clients_path %>">
  <% else %>
    <a href="<%= studio_clients_path %>">
  <% end %>
    <div class="menu-item studio">
      <p>
        studio
      </p>
      <%= image_tag('equalizer.jpg', class: 'jpg') %>
      <%= image_tag('equalizer.gif', class: 'gif') %>
    </div>
  </a>
      <a href="<%= bio_index_path %>">
    <div class="menu-item about">
      <p>
        bio
      </p>
      <%= image_tag('alice.jpg', class: 'jpg') %>
      <%= image_tag('alice.jpg', class: 'gif') %>
    </div>
  </a>
  <% if current_user %>
    <a href="<%= admin_live_clients_path %>">
  <% else %>
    <a href='<%= live_clients_path %>'>
  <% end %>
    <div class="menu-item live">
      <p>
        live
      </p>
      <%= image_tag('flame.jpg', class: 'jpg') %>
      <%= image_tag('flame.gif', class: 'gif') %>
    </div>
  </a>
</div>
