<div class="menu">
  <a href='<%= studio_clients_path %>' >
    <div class="menu-item studio">
      <p>
        studio
      </p>
      <%= image_tag('equalizer.jpg', class: 'jpg') %>
      <%= image_tag('equalizer.gif', class: 'gif') %>
    </div>
  </a>
  <a href='<%= bio_index_path %>'>
    <div class="menu-item about">
      <p>
        about
      </p>
    </div>
  </a>
  <a href='<%= live_clients_path %>'>
    <div class="menu-item live">
      <p>
        live
      </p>
      <%= image_tag('flame.jpg', class: 'jpg') %>
      <%= image_tag('flame.gif', class: 'gif') %>
    </div>
  </a>
</div>
