<%= form_for([:admin, @studio_client]) do |f| %>
  <% if @studio_client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@studio_client.errors.count, "error") %> prohibited this studio_client from being saved:</h2>

      <ul>
      <% @studio_client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="studio-field artist">
    <%= f.text_field :artist, placeholder: 'artist' %>
  </div>
  <div class="studio-field album">
    <%= f.text_field :album, placeholder: 'album or track' %>
  </div>
  <div class="studio-field role">
    <%= f.text_field :role, placeholder: 'role' %>
  </div>
  <div class="studio-field image">
    <%= f.label :image %>
    <%= f.text_field :image, placeholder: 'image' %>
  </div>
  <div class="studio-field soundcloud">
    <%= f.label 'soundcloud link' %>
    <%= f.text_field :soundcloud, placeholder: 'soundcloud link' %>
  </div>
  <div class="actions">
    <%= f.submit 'Save' %>
  </div>
<% end %>
