<% if notice %>
  <%= content_tag "div", class:'header-info', data: {text: notice, page: 'studio'} do %>
  <% end %>
<% else %>
  <%= content_tag "div", class:'header-info', data: {text: 'bands mixed in the studio', page: 'studio'} do %>
  <% end %>
<% end %>
<div class="list">
  <div class="studio-client">
    <%= image_tag @studio_client.image_url.to_s, class: 'artist-pic' %>
    <span class="info">
      <div class="artist"><%= @studio_client.artist %></div>
      <div class="album"><%= @studio_client.album %></div>
      <div class="role"><%= @studio_client.role %></div>
      <% if @studio_client.soundcloud and @studio_client.soundcloud.length > 0 %>
        <%= image_tag 'play.png', class: 'play' %>
        <%= @studio_client.soundcloud.html_safe %>
        <%= image_tag 'delete.png', class: 'sc-delete' %>
      <% end %>
    </span>
  </div>
  <div class="studio-client">
    <p class="edit-label">
      Front
    </p>
    <img src="<%= @studio_client.image %>" alt="" class="artist-pic"/>
  </div>
  <div class="studio-client">
    <div class="info back">
      <p class="edit-label">
        Back
      </p>
      <div class='artist'>
        <%= @studio_client.artist %>
      </div>

      <div class='album'>
        <%= @studio_client.album %>
      </div>

      <div class='role'>
        <%= @studio_client.role %>
      </div>
      <% if @studio_client.soundcloud and @studio_client.soundcloud.length > 0 %>
        <%= image_tag 'play.png', class: 'play' %>
        <%= @studio_client.soundcloud.html_safe %>
        <%= image_tag 'delete.png', class: 'sc-delete' %>
      <% end %>
    </div>
  </div>
  <div class="studio-client">
    <p class="edit-label">
      Edit
    </p>
    <%= render 'form' %>
    <%= link_to image_tag('delete.png'), admin_studio_client_path(@studio_client), method: :delete, data: { confirm: 'You want to delete this?' } %>
  </div>
</div>
