<!DOCTYPE html>
<html>
<head>
  <title>Alice Wilder | Audio Engineer</title>
  <link rel="stylesheet" href="http://meyerweb.com/eric/tools/css/reset/reset.css" media="screen" title="no title" charset="utf-8">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://w.soundcloud.com/player/api.js" type="text/javascript"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrapper">
    <div class="header">
      <% if current_user %>
        <a href="<%= admin_root_path %>">
      <% else %>
        <a href="<%= root_path %>">
      <% end %>
        <span class="alice">Alice Wilder</span>
      </a>
        <div class="audio-engineer"><div class="overline"></div></div>
    </div>
    <div class="content">
      <%= yield %>
    </div>
    <div class="footer">
      <% if current_user %>
        <div class="logout">
          <%= link_to "Logout", '/logout' %>
        </div>
      <% else %>
        <div class="copyright">
          <span><a href="<%= login_path%>" class='secret'>&copy;</a>2016 Alice Wilder Sound</span>
        </div>
        <div class="social-media"><a href="https://www.instagram.com/alice_aka_chip" target='_blank'><img src="<%= asset_path "instagram.png" %>" /></a></div>
        <div class="social-media"><a href="https://www.facebook.com/alice.wilder.5" target='_blank'><img src="<%= asset_path "facebook.png" %>" /></a></div>
        <div class="social-media"><a href="mailto:contact@alicewildersound.com"><img src="<%= asset_path "mail.png" %>" /></a></div>
        <div class="copyright">
          <span>web designed by Dorian Thornton</span>
        </div>
      <% end %>
    </div>
  </div>
</body>
</html>
